{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="card p-3">
        <div class="hstack gap-3">
            <h2 class="fw-bold">Author List</h2>
            {% include 'partials/add_author_modal_form.html' %}
            <a href="{% url 'author_export' %}" class="btn btn-primary">Export</a>
        </div>
        <div class="card p-3 my-3">
            <h6>Search</h6>
            <div class="hstack gap-3">
                <div>
                    {{filter.form.name.label}}
                    {{filter.form.name}}
                </div>
                <div>
                    {{ filter.form.gender.label}}
                    {{ filter.form.gender}}
                </div>
                <div>
                    {{ filter.form.age.label}}
                    {{ filter.form.age}}
                </div>
            </div>
        </div>
        <div>
            {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for message in messages %}
                <p class="m-0">{{message}}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div id="result" class="row mt-3">
            {% include 'partials/author_filtered_result.html' %}
        </div>
    </div>
</div>
{% endblock content %}