{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="card p-3">
        <div class="hstack gap-3">
            <h2 class="fw-bold">Book List</h2>
            {% include 'partials/add_new_modal.html' %}
            <a href="{% url 'book_export' %}" class="btn btn-primary">Export</a>
        </div>
        <div class="card p-3 my-3">
            <h6>Search</h6>
            <form
                hx-get="/htmx/book/filter"
                hx-params="*"
                hx-trigger="change"
                hx-target="#result"
            >
                <div class="hstack gap-3">
                    <div>
                        {{filter.form.name.label}}
                        {{filter.form.name}}
                    </div>
                    <div>
                        {{ filter.form.min_avg_critics_rating.label}}
                        {{ filter.form.min_avg_critics_rating}}
                    </div>
                    <div>
                        {{ filter.form.published_year.label}}
                        {{ filter.form.published_year}}
                    </div>
                    <div class="hstack">
                        {{ filter.form.page_range.label}}
                        {{ filter.form.page_range}}
                    </div>
                </div>
            </form>
        </div>
        <div>
            {% if messages %}
            <div class="alert alert-success" role="alert">
                {% for message in messages %}
                <p class="m-0">{{message}}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <div id="result" class="row mt-3">
            {% include 'partials/book_filtered_result.html' %}
        </div>
    </div>
</div>
{% endblock content %}