{% extends 'base.html' %}

{% block content %}

<div class="d-flex align-items-center justify-content-center mt-auto" style="min-height: calc(100vh - 150px)">
    <div class="text-center">
        <h1 class="display-5 fw-bold">Welcome to TGB Library</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">TGB Library is an open, editable library catalog,
                building towards a web page for every book ever published.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{% url 'book_list' %}" class="btn btn-primary btn-lg px-4 gap-3">View All Books</a>
                <a href="{% url 'author_list' %}" class="btn btn-outline-secondary btn-lg px-4">View All Authors</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}