{% extends 'base.html' %}

{% block content %}

<div class="min-vh-100 bg-dark text-secondary d-flex justify-content-center align-items-center px-4 py-5 text-center" id="result">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">TGB Library</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">Welcome to the TGB Library. 
                TGB Library is an open, editable library catalog, 
                building towards a web page for every book ever published.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a 
                    href="{% url 'author_list' %}" 
                    class="btn btn-outline-light btn-lg px-4"
                    hx-get="/author/"
                    hx-target="#result"
                    hx-swap="outerHTML"
                >
                    View Authors
                </a>
                <a 
                    href="{% url 'book_list' %}" 
                    class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"
                    hx-get="/book/"
                    hx-target="#result"
                    hx-swap="outerHTML"
                >
                    View Books
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}